<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvhong.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.lvhong.pojo.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="TELEPHONE" jdbcType="VARCHAR" property="telephone" />
    <result column="E_MAIL" jdbcType="VARCHAR" property="eMail" />
    <result column="ROW_VERSION" jdbcType="VARCHAR" property="rowVersion" />
    <result column="ISVALID" jdbcType="VARCHAR" property="isvalid" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="DATE" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_NAME, PASSWORD, TELEPHONE, E_MAIL, ROW_VERSION, ISVALID, CREATE_DATE, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TM_USER
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from TM_USER
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lvhong.pojo.User">
    insert into TM_USER (ID, USER_NAME, PASSWORD, TELEPHONE, E_MAIL, ROW_VERSION, ISVALID, CREATE_DATE, UPDATE_DATE
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{eMail,jdbcType=VARCHAR}, #{rowVersion,jdbcType=VARCHAR}, 
      #{isvalid,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, #{updateDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lvhong.pojo.User">
    insert into TM_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="telephone != null">
        TELEPHONE,
      </if>
      <if test="eMail != null">
        E_MAIL,
      </if>
      <if test="rowVersion != null">
        ROW_VERSION,
      </if>
      <if test="isvalid != null">
        ISVALID,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null">
        #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="rowVersion != null">
        #{rowVersion,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lvhong.pojo.User">
    update TM_USER
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null">
        E_MAIL = #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="rowVersion != null">
        ROW_VERSION = #{rowVersion,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        ISVALID = #{isvalid,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lvhong.pojo.User">
    update TM_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      E_MAIL = #{eMail,jdbcType=VARCHAR},
      ROW_VERSION = #{rowVersion,jdbcType=VARCHAR},
      ISVALID = #{isvalid,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_DATE = #{updateDate,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="findUserByPhone" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TM_USER
    where (ISVALID = 1 or ISVALID is null)
    <if test="telephone != null">    
    		and TELEPHONE = #{telephone,jdbcType=VARCHAR}
    </if>
    <if test="name != null">
    		and USER_NAME = #{name,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="findRolesByUserName" parameterType="java.lang.String" resultType="java.lang.String">
    select role.ROLE_NAME from TM_ROLES role , TM_USER user , TM_SYS_USER_ROLE userRole where userRole.USER_ID = user.ID and role.ID = userRole.ROLE_ID and user.USER_NAME = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="findPermissionsByUserName" parameterType="java.lang.String" resultType="java.lang.String">
    select permission.PERMISSION_NAME from TM_USER user , TM_PERMISSIONS permission , TM_SYS_USER_ROLE userRole , TM_SYS_ROLE_PERMISSION rolePermission where userRole.USER_ID = user.ID and userRole.ROLE_ID = rolePermission.ROLE_ID  and rolePermission.PERMISSION_ID = permission.ID and user.user_name = #{userName,jdbcType=VARCHAR}
  </select>
</mapper>